<h1>Welcome to the Championships Page!</h1>
<p>Description: Get Championship Information By Year / Add Championiship</p>
<div class='form'>
    <h3>SELECT TEAM</h3>
    <form>
        <select name="year">
            <!--TODO POPULATE FROM DATABASE RESULTS -->
            <option value='sample'>1991</option>
            <option value='wooo'>2019</option>
        </select>
        <input type="submit" value="Submit">
    </form>
</div>
<p>DESCRIPTION: TABLE HIDDEN UNTIL YEAR SELECTED</p>
<div class="table">
    <table>
        <!-- TODO: POPULATE FROM QUERY RESULTS-->
        <tr>
            <th>West Team</th>
            <th>West Record</th>
            <th>East Team</th>
            <th>East Record</th>
            <th>Winner</th>
        </tr>
    </table>
</div>
<p>DESCRIPTION: ADD CHAMPIONSHIP</p>
<div class='form'>
    <form>
        West Team:
        <input type='text'>
        <br>
        West Record:
        <input type='text'>
        <br>
        East Team:
        <input type='text'>
        <br>
        East Record:
        <input type='text'>
        <br>
        Winner:
        <input type='text'>
        <br>
        <input type="submit" value="Submit">
    </form>
</div>