<h1>Welcome to the Endorsements Page!</h1>


<div class='form'>
    <h3>SELECT ENDORSEMENT</h3>
    <form>
        <select name="endorsement">
            <!--TODO POPULATE FROM DATABASE RESULTS -->
            <option value='Endorsement001'>Endorsement001</option>
            <option value='Endorsement002'>Endorsement002</option>
        </select>
        <input type="submit" value="Submit">
    </form>
</div>

<div class="table">
    <table>
        <!-- TODO: POPULATE FROM QUERY RESULTS-->
        <tr>
            <th>Contractual ID</th>
            <th>Player ID</th>
            <th>Company Name</th>
            <th>Years Signed</th>
            <th>Salary</th>
        </tr>
    </table>
</div>
<p>DESCRIPTION: ADD ENDORSEMENT</p>
<div class='form'>
    <form>
        Player ID:
        <input type='text'>
        <br>
        Company Name:
        <input type='text'>
        <br>
        Years Signed:
        <input type='text'>
        <br>
        Salary:
        <input type='text'>
        <br>
        
        <input type="submit" value="Submit">
    </form>
</div>