<h1>Welcome to the Home Page!</h1>
<h2>Navigate through pages using Navigation Bar Above!</h2>
<p>These are the pages and their funcitonality</p>
<ul>
    <li>Players</li>
    <li>Teams</li>
    <ul>
        <li>This Views, Adds, and Modifies Team Information</li>
    </ul>
    <li>Endorsements</li>
    <li>Championships</li>
    <ul>
        <li>This Views Championship Information based on Year</li>
    </ul>
</ul>