<h1>Welcome to the Home Page!</h1>
<h2>Navigate through pages using Navigation Bar Above!</h2>
<p>These are the pages and their funcitonality</p>
<ul>
    <li>Players</li>
    <ul>
        <li>The Players and Information about Players</li>
        <li>View or Add Player Information</li>
    </ul>
    <li>Teams</li>
    <ul>
        <li>The Teams and Information about the Team</li>
        <li>Views, Adds, and Modifies Team Information</li>
        <li>Has Search/Filter functionality for divisions</li>
    </ul>
    <li>Endorsements</li>
    <ul>
        <li>The Endorsements with Companies</li>
        <li>View and Add Endorsements</li>
    </ul>
    <li>Championships</li>
    <ul>
        <li>Represents the year, teams, records, and winner of a Championship Series</li>
        <li>Views and Adds Championship Information based on Year</li>
    </ul>
    <li>Player/Championship</li>
    <ul>
        <li>Represents the Player and what Championship They've Attended</li>
        <li>Views, Adds, and Removes Player-Championships</li>
    </ul>
    <li>Player/Endorsements</li>
    <ul>
        <li>The Players and their Endorsement Contracts</li>
        <li>View and Add Endorsements</li>
    </ul>
</ul>