<h1>Welcome to the Players Page!</h1>

<div class='form'>
    <h3>SELECT PLAYER</h3>
    <form>
        <select name="name">
            <!--TODO POPULATE FROM DATABASE RESULTS -->
            <option value='lebron'>Lebron James</option>
            <option value='kawhi'>Kawhi Leonard</option>
        </select>
        <input type="submit" value="Submit">
    </form>
</div>

<div class="table">
    <table>
        <!-- TODO: POPULATE FROM QUERY RESULTS-->
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Team ID</th>
            <th>Birthdate</th>
            <th>Points</th>
            <th>School</th>
            <th>Position</th>
            <th>Player_Year_Start</th>
            <th>Years_Active</th>
        </tr>
    </table>
</div>
<p>DESCRIPTION: ADD PLAYER</p>
<div class='form'>
    <form>
        First Name:
        <input type='text'>
        <br>
        Last Name:
        <input type='text'>
        <br>
        Team ID:
        <input type='text'>
        <br>
        Birthdate:
        <input type='text'>
        <br>
        Points:
        <input type='text'>
        <br>
        School:
        <input type='text'>
        <br>
        Position:
        <input type='text'>
        <br>
        Player Year Start:
        <input type='text'>
        <br>
        Years Active:
        <input type='text'>
        <br>
        <input type="submit" value="Submit">
    </form>
</div>