<h1>Welcome to the Team Page!</h1>
<h2>View Team Information</h2>
<div class='form'>
    <h3>SELECT TEAM</h3>
    <form>
        <select name="team">
            <!--TODO POPULATE FROM DATABASE RESULTS -->
            <option value='sample'>Sample</option>
            <option value='wooo'>Woo</option>
        </select>
        <input type="submit" value="Submit">
    </form>
</div>
<br>
<div class="table">
    <table>
        <!-- TODO: POPULATE FROM QUERY RESULTS-->
        <tr>
            <th>ID</th>
            <th>City</th>
            <th>Name</th>
            <th>Conference</th>
            <th>Division</th>
            <th>Arena</th>
            <th>Head Coach</th>
        </tr>
    </table>
</div>