<!doctype html>
<html>

<head>
	<title>NBA DATABASE</title>
</head>

<body>
	<!--Navigation TODO: ADD LINKS-->
	<ul>
		<li>Home</li>
		<li>Players</li>
		<li>Teams</li>
		<li>Endorsements</li>
		<li>Championships</li>
	</ul>
	{{{body}}}
</body>

</html>