<!doctype html>
<html>

<head>
    <title>NBA DATABASE</title>

    <link rel="stylesheet" href="css/style.css" type="text/css">
    <div class="topnav">
        <a class="active" href="./">Home</a>
        <a href="./players">Players</a>
        <a href="./teams">Teams</a>
        <a href="./endorsements">Endorsements</a>
        <a href="./championships">Championships</a>
    </div>

</head>

<body>
    {{{body}}}
</body>

</html>