<!doctype html>
<html>

<head>
    <title>NBA DATABASE - {{title}}</title>

    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/players">Players</a>
        <a href="/teams">Teams</a>
        <a href="/endorsements">Endorsements</a>
        <a href="/championships">Championships</a>
        <a href="/player_championships">Player/Championships</a>
    </div>
    {{!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> --}}
</head>

<body>
    {{{body}}}
</body>

</html>